
body {

background-color:aquamarine ;

}

.cabecalho__titulo {

    display: inline;
}

.cabecalho__imagem {

width: 130px;
height: 160px;
border-radius: 100px;

}

.cabecalho__menu{
    display: inline;

}

.cabecalho__menu-item{

    display: inline;
}