
body {

background-color:aquamarine ;

.cabecalho__menu{
    display: inline;

}

.cabecalho_imagem {

    width: 130px;
    height: 160px;
    border-radius: 100px; 

}
          
    .cabecalho__menu-item{
        display: inline;
    }

}