*{
    margin: 0%;
    padding: 0%;
}

body {
    font-family: 'Noticia Text', serif;
    background-color: #f1f0f1;

}

.cabecalho {
    background-color: rgb(207, 228, 221);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cabecalho__titulo {

    display: inline;
    align-items: end;
}

.cabecalho__imagem {

    width: 140px;
    height: 160px;
}

.cabecalho__menu-item {

    display: inline;
}

.cabecalho__menu-item {

    display: inline;
    margin-left: 30px;
    font-size: 52px;


}

.escola{
display: flex;

    background-color: rgb(238, 241, 17);
justify-content: center;
align-items: end;
margin: 10px;
border-radius: 20px;

}

.professores {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: auto auto;
    background-color: #425dd8;
    align-items: center;
    justify-items: center;
}

.professores__div-imagem {
    width: 150px;
    height: auto;
}
.escola__imagem {
width: 150px;
height: auto;

}